fastapi
uvicorn
firebase-admin
google-cloud-firestore
python-dotenv
python-multipart
pydantic
torch
openai
scipy
numpy
transformers
silabeador
soundfile
azure-cognitiveservices-speech
google-generativeai
pydub